[2020-06-06 13:52] erickhun opened #4 "License?"
@fifieldt suggested those licenses, I don't see any issue with that and I think it works well since anyone from the gold card community can contribute in the documentation.

- Documentation contributions will be licensed under the [CC-BY-SA-NC license](https://creativecommons.org/licenses/by-nc-sa/2.0/).
- Code contributions will be licensed under the [Apache 2.0 License](https://tldrlegal.com/lic

[2020-06-07 07:16] iansinnott commented on #4
I'm no expert on licensing so... sounds good to me!

[2020-06-08 00:58] fifieldt commented on #4
Hi,

I've added a pull request with the content of those two licenses. Please have a read of the text.

You might want to refer to https://choosealicense.com/licenses/ when thinking about Apache 2, and https://creativecommons.org/licenses/by-nc-sa/4.0/ for the creative commons.

Let me know what you think and share any questions :)

[2020-06-11 02:09] fifieldt opened #9 "Site Search is Disabled, and when Enabled it only sends users to broad sections"
The site search, powered by lunr.js is currently disabled in config.toml.

This is a necessary feature and should be fixed.

At the moment, when enabled, search is functional. However, the search results it provides only include major section titles and link through to major sections.

Instead, search results should include individual question headings and link through to individual questions.

[2020-06-11 02:10] fifieldt commented on #9
So, looking at the lunr index function in themes/compose/assets/js/search.js ... it looks like all that is index is a hugo "Page", with the entire content of that page included as the "body". There is no segregation of content within the page from a search indexing perspective.

[2020-06-11 02:34] fifieldt opened #10 "Feature Request: Gold Card Holder Profiles"
We would like to show off our community, and give them a chance to express themselves.

Create new functionality that accepts content for "profiles" of gold card holders - including an image and some text, that can be displayed on the site. Profiles could be displayed in a carousel on the main page, and also available as a list (eg in the style of "case study" lists on corporate websites).

[2020-06-13 05:02] fifieldt opened #11 "Missing Content"
There are several areas of content that I've come across that might warrant additions, here's a hitlist:

[ ] Tax: ETFs, dividends, Capital Gains Tax, Alternative Minimum Tax, how to file
[ ] egate vs speedy immigration
[ ] digital citizen certificate
[ ] how do I start a business?
[ ] remitting capital for a business
[ ] cost of common things - eg gym
[ ] banking - global banks vs local banks, sw

[2020-06-14 00:31] alvinsj opened #15 "Suggestion: New page for useful links"
Like the awesome list of links

e.g. I often cannot find the government website link to check for my application

[2020-06-14 07:30] fifieldt opened #18 "Qualification Wizard Enhancements"
A master issue to collect enhancement requests for the Gold Card Qualification Wizard
- [ ] Improve wording of "HQ of a multinational
- [ ] Add Gold Card Holder Profiles (#10 ) to results page to give examples for each category
- [x] Provide document requirements on results page

[2020-06-14 12:51] fifieldt opened #20 "Layout idea: better distinguish FAQ entries"
Currently FAQ entries are simply a set of heading and text on a page.

It might be a good idea to explore ways to define the boundaries of a given question/answer pair in the layout for better readability.

For example, look to forums such as reddit where every post is surrounded by a border box. Or, look to sites where there is subtle alternate shading between entries in a long list of posts.

[2020-06-14 12:53] fifieldt commented on #20
@alvinsj , @iansinnott , I got this feedback from some people - over to you to see if you think it is a good idea.

[2020-06-14 12:57] fifieldt opened #21 "About page doesn't list all contributors"
The About page currently only mentions Eric and Tom.

This should be expanded to ensure all contributors get a mention :)

[2020-06-14 14:01] erickhun commented on #21
Was thinking about https://github.com/all-contributors/all-contributors, but then thought it will be too restrictive.

Some community members will want to contribute in some other ways than "code
, such as promoting/helping with events/talks/etc...

[2020-06-15 02:08] erickhun opened #22 "Change content order in homepage"
As discussed in https://github.com/taiwangoldcard/website/pull/13#issuecomment-643841818, we should probably change the order of content in the homepage.

First line : Applying the GC / Beeing a GC holders
Second line: And then news and the photo.

(Also the photo doesn't add much, and we should probably think of a better one later)

[2020-06-15 04:37] fifieldt commented on #22
When thinking about this, perhaps also think about where #10 will go. Perhaps a carousel of profiles will replace the stock photo?

[2020-06-15 10:41] iansinnott commented on #21
Yeah i think we can just hardcode it for now as you suggest. We'll have to update the code to reflect new contributors but there aren't many of us so that will be easy. We can come up with something more sophisticated down the road if needed

[2020-06-15 10:46] iansinnott commented on #20
yeah sounds fine a to me. a bit of `border` and `padding` would do the trick. I would currently file this under low priority though.

[2020-06-15 10:48] iansinnott commented on #15
Yeah the official website to apply for the gold card is different than the website with all the qualifications... very confusing. A resources page would be helpful, even if just for us so we can refer to it to remember where things are.

i still don't know the login URL for the gold card app, it's stored in a note somewhere and I just go find that note whenever I want to get back.

[2020-06-16 08:05] erickhun commented on #15
I agree with that one. I always forgot those links.
Where are the links for...
- official website to apply
- official portal to login and change informations / request a new card
- official list of documents to provide

[2020-06-18 02:17] #4 closed

[2020-06-18 04:53] fifieldt commented on #21
Hi all, I've put in a pull request that just adds the names of anyone who has put a patch into git so far on the about page. Please take a look and see whether that is an appropriate start for you.

[2020-06-19 01:54] erickhun opened #27 "Keep users in the same tab when clicking on external links"
For web usability and UX perspective, and add with accessibility for all users (mobile especially)

To implement this, it could be find where the  `_blank` tag is added in the href.

[2020-06-19 09:40] erickhun opened #28 "[Directory] Start adding person in directory (readonly)"
## Purpose
The directory starts becoming really valuable and we reach 15 persons who want to connect with each others. It is not shared to anyone yet, but I'd like to start adding people who agreed to appear in the directory. We won't announce it in the group yet, but I guess it's the next natural next step.

## What will be visible:
- FIrst name
- 1st letter of  Last name
- Intro
- What they are

[2020-06-19 10:16] erickhun commented on #28
I don't think it make sense to talk about this here.
Please check https://github.com/orgs/taiwangoldcard/teams/goldies/discussions/1 instead 🙏

[2020-06-20 03:52] fifieldt opened #29 "Idea: Find somewhere to store English translations of the common Chinese error messages during application"
There are a range of common messages in the application portal that are not translated into English. Perhaps we can add a page where these are provided?

- [ ] 申請人以免籤證入境，申請時身份類別選擇錯誤，不予許可　-> You entered Taiwan 'visa-exempt', but when applying you selected the wrong visa/identity category, application refused.
- [x] 待二審 -> Undergoing secondary inspection

[2020-06-22 02:58] erickhun commented on #29
wow, does that appear in emails or in the Gold Card portal system itself?

I can see the value of adding a section "Common application mistakes / errors"

[2020-06-22 02:59] fifieldt commented on #29
申請人以免籤證入境，申請時身份類別選擇錯誤，不予許可  is an example of a response to an application
待二審 is in the portal

[2020-06-22 03:02] pqvst commented on #29
I'd probably suggest to expand this to include "here are all of the stages" to expect and potential error messages that you might see. You'll see the text in the portal and via email.

I kept a log of my entire application process. Unfortunately I got lazy and forgot to note down all the Chinese text though. https://tw.forumosa.com/t/employment-gold-card-for-some-foreigners/159653/982

[2020-06-22 03:28] fifieldt commented on #29
Yes, the more I think about it, the more I think we need to re-work the application content (or add a section) so that it follows the process of going through the dashboard.

eg the question about "Do I need an address to apply?" is only relevant on one tab of the application, which might be more more readable as instructions for that tab rather than FAQ.

[2020-06-22 04:56] erickhun opened #30 "Rename "wizard" to something less technical"
Thought  about the "wizard" name: I like how they called it ["visa quick check"](https://www.make-it-in-germany.com/en/visa/quick-check/) .

By being non-english native speaker , I didn't know what means " wizard ", even after working 5+ years for an american tech company... is it common to use that word? Shouldn't we make it easy to understand for any non native english speakers?

@fifieldt sugge

[2020-06-22 11:08] erickhun opened #32 "Disclaimer to protect contributors"
Should we have a clear disclaimer protecting contributors? I'm not a lawyer, and that might sound overkilled, but we start getting more traffic day after day, and visitors applying for the GC will probably follow our answers.

I'm thinking we can add :

- A simple , short, and clear disclaimer at the footer of the page , or  the end of the FAQs pages
- A clear TOS page that protects us legally

[2020-06-22 11:12] fifieldt commented on #32
I am not a lawyer, but here's a start: "Taiwan Gold Card is not affiliated with any government departments and may be inaccurate and/or outdated. Seek professional advice. Contains content licensed under the Government Website Open Information Announcement."

[2020-06-22 12:44] pqvst commented on #32
I think having a disclaimer is probably "good enough" right now. I usually include this text whenever I need a disclaimer:

[2020-06-23 10:33] fifieldt opened #38 "News item: Gold Card now cheaper"
@cbrolly found a link to a update of the pricing regulations for the gold card. According to @jliao-tw Z's analysis, it's now cheaper to apply than before.

This seems worthy of a news item.

[2020-06-23 11:52] erickhun opened #39 "Add official links for the consequences of not updating address"
Discussed on https://github.com/taiwangoldcard/website/pull/36/

Ideally, we would have official links for the consequences of not updating the residential address within 30 days after moving in.

[2020-06-23 11:54] jliao-tw commented on #38
I’ll put together a table for the prices tomorrow

[2020-06-23 14:31] fifieldt commented on #38
Cheers @jliao-tw . Completely up you how you do this, but one idea for your consideration. At the moment all our news entries link to an external site. So, if your folks at Futureward are also interested in this news, one way to do this might be for your to put an entry on your blog and then the news item can link to that. Here to help with however you want to go :)

[2020-06-26 01:31] jliao-tw commented on #32
I suggest including something about the background of contributors, eg “This website is contributed to and maintained by the Gold Card community, and not by the official government departments. The information contained is to the best of our ability but may not be accurate nor representative of the latest official status. “

Or something to that effect

[2020-06-26 01:33] jliao-tw commented on #32
FYI There’s a bit of misinformation being (accidentally) spread and social media isn’t helping. Some have attributed this website to NDC and another to NIA already

[2020-06-26 01:47] jliao-tw commented on #32
Consolidating the above into one:

“Taiwan Gold Card is a community website maintained by the Gold Card community. It is not affiliated with any government departments and information may be inaccurate and/or outdated. As changes and errors may occur, please seek professional advice from the relevant officials where necessary. Contains content licensed under the Government Website Open Information

[2020-06-26 01:57] fifieldt commented on #32
Given the confusion we've seen, it might be good to add back in the "by gold card holders, for gold card holders" that used to be at the top, or something equivalent.

[2020-06-26 03:37] iansinnott commented on #32
I like "by gold card holders" or "this website is an independent creation of gold card holders" but I think the "for gold card holders" part is misleading. Too narrow a focus.

[2020-06-26 03:46] fifieldt commented on #32
All good with me, I'm not wed to any particular wording regarding our tagline :)

[2020-06-26 14:58] erickhun commented on #32
Just caught up with that.  I'll deploy this now : https://github.com/taiwangoldcard/website/pull/40 . We can certainly do better, so leaving that issue open.

[2020-06-27 03:05] #21 closed

[2020-06-27 03:17] fifieldt opened #41 "Add contributor guide"
Many git repos have a dedicated CONTRIBUTING.md file that explain how to contribute in a bit more depth. Creating one of those is a good way to capture some of our 'tribal knowledge' about how we work together, making it easier for new people to jump in and feel confident they are doing the 'right' thing. To cover areas such as:
- [ ] Who can get push rights, and who to contact to get them (at the

[2020-06-27 03:19] fifieldt commented on #32
Thanks for getting us started :) Let's continue to iterate on layout and wording. I've asked for some time with my lawyers next week to see if they can chip in.

[2020-06-27 03:29] fifieldt opened #42 "Redesign of Application content"
We should re-work the Application content so that it is aligned with the process that people applying go through. This will let applicants go directly to the most relevant content for them.

This will be a bit of a change from our current FAQ style - written in more 'instructional' language - and will probably mean some layout changes to make it possible.

Here are the steps of the application pro

[2020-06-27 03:44] fifieldt commented on #42
Here's an attempt to split our current content across this:

1. Understanding what the Gold Card is
    1. How long does the application take?
    1. Do I apply for the Gold Card personally, or should I ask my employer to do that?
    1. Do you need to undergo a health check to apply for the Gold Card?
    1. What fees are involved in a Gold Card application?
    1. Do you need to fly to Taiwan im

[2020-06-28 06:36] fifieldt commented on #15
In #42  , we significantly ramp up the number of times we provide the link to the portal. We also break the content into sections so that when someone is at the stage of checking their application they can jump straight through to info about that.

For the official document requirements, the Qualification Check site's results page now includes these in a format designed for humans, as well as link

[2020-06-29 15:09] fifieldt opened #45 "Menu on Application FAQ "flashes" on load"
As reported by @jliao-tw , when a user first clicks on the "Application Process" button or the "Gold Card Application FAQ" menu header, the enter side menu with all subheadings appears briefly before disappearing.

This is unnerving for the user and makes making videos demonstrating the site difficult, since it is very visible in those. Interestingly, it does not happen when the "Life in Taiwan" m

[2020-06-30 01:07] erickhun commented on #10
I've started to work on this with https://github.com/taiwangoldcard/website/pull/44

Ideally we would show at least 2 profiles for each category. There is 8 categories, so we would have 16 profiles (sounds like a lot?) . I'm not sure how we can select who appear on the website and be "fair". We already have about 12 persons that wants to be interviewed to appear on the websites via the [Google For

[2020-06-30 06:35] jliao-tw commented on #38
just updating everyone, there's quite a bit of confusion officially about the new prices.  After speaking to NDC and NIA, there is a "special" fee applied to some which makes it more expensive.  It's unclear yet who this fee applies to.  So until the official sites are updated, I'm going to hold off on publishing this!

[2020-06-30 06:42] fifieldt commented on #38
Wow! Thanks for the update.

[2020-07-01 06:37] fifieldt commented on #10
Things to think about: we will eventually end up with more profiles than can comfortably be displayed on a page. What should we do when that happens?

[2020-07-01 09:30] erickhun commented on #10
@fifieldt had the same thoughts.... was thinking maybe...

- if we have more than 2 profiles,  a [random pick](https://gohugo.io/functions/shuffle/) on who appear there. So we always have 2 profiles, and keep the design consistent, and stay fair.
- a "more" button. I guess this involve more frontend work, but how do decide who appear first of not?

[2020-07-01 10:31] fifieldt opened #46 "Feature Request: Method to edit content for non-techical contributors"
We have the potential (and need) to significantly expand he number of contributors to the content portion of our website.

The current editing process works well for those with knowledge of git, the command line and markdown syntax. However, it also means that 100% of our contributors come from a technical background.

We need a way that people who have excellent writing skills but no technical ab

[2020-07-01 10:40] pqvst commented on #46
I have explored "CMS" editors that work on top of GitHub/markdown in the past, but never found one I felt worked well. For example: prose.io or cloudcannon.com - Maybe there are some other options for hugo (instead of jekyll).

[2020-07-01 14:42] fifieldt commented on #32
Lawyers came back with an expanded disclaimer, that perhaps we can include on a dedicated page:

[2020-07-02 03:22] fifieldt opened #47 "Investigate multi-language capabilities"
Not everyone wanting to apply for the Gold Card can handle large blocks of English text. If we were to get a sufficient number of contributors who could write in a language other than English, it might be worth having the site available in other languages.

This is probably some time in the future, but in the meantime, perhaps we shouldn't do anything that would explicitly prevent a multi-language

[2020-07-02 03:24] fifieldt commented on #30
Changed in the goldcard.tw content. Changing on visafinder now.

[2020-07-02 03:27] fifieldt commented on #30
Ok, this is resolved.

[2020-07-02 03:27] #30 closed

[2020-07-02 03:40] fifieldt commented on #46
On my reading list:

https://www.portent.com/blog/copywriting/content-strategy/content-with-github-markdown.htm

[2020-07-04 01:59] fifieldt commented on #29
待二審 is now found at https://taiwangoldcard.com/application-faq/after-submitting-application/

[2020-07-04 02:35] fifieldt commented on #32
all, I have created a pull request that adds the disclaimer and terms and conditions page. Please take a look, comment and modify if necessary.

[2020-07-04 08:32] pqvst opened #51 "Question: How do you apply for NHI without an employer"
The FAQ mentions that your employer will apply for NHI for you. However, we don't mention anything about how to apply for NHI yourself if you _don't_ have an employer (i.e. after the six-month waiting period). I personally don't know the answer to this, but I'd be glad to sort this out if anyone can explain or link to the process.

[2020-07-05 01:49] jliao-tw commented on #51
Hi Phillip, I noticed you are making some changes, and I'm not very good with the commit/pull request functions yet, so feel free to use this response below:

If you don't have an employer, and you are past the six month waiting period, you can apply for your NHI card at your local national health administration bureau. The process is the same as for any resident in Taiwan. Remember to bring your

[2020-07-05 08:31] fifieldt commented on #46
I have looked up a few markdown editing tools:
* Dilinger.io - web based, has github integration (can commit to a branch, but no pull request), but unfortunately can only load one file at a time and requires many clicks to do so. It also required editing in markdown, though it does have a live preview.
* Typora - beautiful and simple WYSIWYG editor with a great outline view of all the files that m

[2020-07-05 08:47] fifieldt commented on #46
I think an ideal workflow for us would be
1. Writer opens a website, makes edits in a WSYWIG editor, clicks save
2. A pull request is opened on github, which Experienced Folks can approve
3. On approval, the writer gets credit for contributing to the website.

Conclusions so far:
* Just getting a multi-platform WYSIWYG editor for markdown isn't trivial
* There's nothing planned that will automate

[2020-07-06 04:55] fifieldt commented on #51
Policy link: https://www.nhi.gov.tw/english/Content_List.aspx?n=C88B41A4EAB5E692&topn=778856C209BCE527

[2020-07-06 06:00] iansinnott commented on #46
What's the reasoning behind a pull-request based workflow?

I'm thinking maybe there's a platform that has solved content contributors needing authorization to publish. I bet this is a solved problem, it just doesn't fit into a pull-request workflow.

---

Aside: Editing markdown on github is a decent stopgap measure IMO. It is indeed markdown, but formatting is far less important than the content

[2020-07-06 20:31] casey opened #52 "Suggestion: List of private firms and/or individuals that can advise a gold card applicant"
I'm considering applying for a gold card, but am unsure about if I qualify, what category I should apply under, and what supporting documents I sould include in my application.

I'm reaching out to the government agencies listed on the site, but they are slow to respond, and not always super helpful.

It might be nice to include links to private firms, like immigration lawyers, that can be contact

[2020-07-07 01:33] pqvst commented on #52
Out of curiosity, what information do you feel the website is currently lacking in terms of helping you figure out which category you would qualify for? Any feedback would really help us to improve the content!

I'm guessing you've already checked the Gold Card Qualification Checker?
https://visafinder.tw/gold-card-qualification/

If you need professional advice, your best bet is probably to find

[2020-07-07 03:26] casey commented on #52
Absolutely! I'm a programmer, and have worked in VR and blockchain, as well as for major companies, but I'm unsure if having worked in those areas is enough to qualify for the technology track, or if I would additionally need to have demonstrable research achievements, like patents, etcetera.

I have, but it wasn't clear to me whether I qualified. It said that I might qualify, but for instance, I

[2020-07-07 05:20] fifieldt commented on #52
Thanks so much for jumping in and providing ideas @casey, very much appreciated.

To speak to the qualification and document requirements a little: this is indeed the 'tricky' part of the application. No one quite knows what's needed to support each category (even the professionals). Different government departments are interpreting things in different ways, and it's clear even they are still work

[2020-07-07 05:22] #32 closed

[2020-07-07 05:24] fifieldt opened #53 "Make footer and category intro text consistent with disclaimer"
#50 introduced a site-wide disclaimer/terms.

We currently also include other disclaimer-like content in several areas:
- site footer
- introduction text for each major category
- callout notes embedded in the text

We can't include the full terms in each of these locations, but need to reference the disclaimer somehow. The places we use disclaimer-like content should be updated to ensure they are

[2020-07-07 05:29] fifieldt commented on #46
Hi @iansinnott , I really appreciate you questioning assumptions - it's very valuable at this stage.

I suppose the underlying factors we're trying to hit are
* large group can make contributions with a low barrier to entry
    * these are not immediately published, but instead put up for review
    * who makes the contribution is tracked
    * which part of the text that is changed is tracked

[2020-07-08 01:28] #28 closed

[2020-07-09 08:11] casey commented on #52
You're totally welcome, I *really* appreciate the site!

I think that would be super helpful, along with knowing a little bit about the background of successful applicants. (Which could be anonymized to avoid giving away personal details.)

That makes sense. I suspect that since it's self-help, immigration firms might not have much advice because they haven't helped many people through the process

[2020-07-09 08:12] casey commented on #52
Since there may not be immigration lawyers that have any experience with the gold card process at the moment, I think this issue could be closed, since it isn't immediately actionable.

[2020-07-11 04:27] fifieldt commented on #52
OK. So we don't lose this, I've added it to the list of "missing content" at #11 . The community at [Forumosa](https://tw.forumosa.com) is probably going to be helpful for you as you proceed - post on the gold card threads there and you will get additional helpful advice.

[2020-07-11 04:27] #52 closed

[2020-07-12 11:50] casey commented on #52
Sounds good, thank you for the info and suggestions!

[2020-07-14 02:05] erickhun opened #55 "Auto-deploy when we merge in master"
Something I've noticed is that we often forget to deploy after we merge a Pull Request. So changes aren't visible on the website until the following one do deploy.

This can be  done with github actions

Definitely low priority

[2020-07-14 02:11] fifieldt opened #56 "Mobile: Cumulative Layout Shift (CLS) >0.1"
Cumulative Layout Shift (https://web.dev/cls/ ), which defines how much the bits on the page 'move around' while loading is 0.19, which exceeds the Google recommendations for mobile.

[2020-07-15 13:26] #29 closed

[2020-07-15 13:28] #55 closed

[2020-07-15 13:46] #51 closed

[2020-07-16 01:10] nat236919 opened #60 "dateTime and homePicture can be presented more appropriately"
1. DateTime on 'Gold Card News' displays inappropriately. As can be seen from the section, Datetime's style should be displayed in the same line for better readability

![{EEA534E3-BB23-4DF8-B78D-430F02C10BCD}_20200716090947](https://user-images.githubusercontent.com/9074112/87614975-1e672080-c744-11ea-8d46-a3ae52641117.jpg)

2. homePicture is too big and not adjusted. Margin and padding can be ap

[2020-07-16 14:43] fifieldt commented on #60
再感謝你的努力！

看起來#61把這個ｉｓｓｕｅ做完．

This issue looks like it was closed with the merging of #61.

Please feel welcome re-open the issue or make a new one if I have missed anything :)

[2020-07-16 14:43] #60 closed

[2020-07-21 08:19] nat236919 opened #64 "Dynamically display "Gold Card News" section with limits"
**Proposal**
According to **Gold Card News** section's nature, its content is expected to be added incrementally. The major problem of the current section is that it will be overflown with an increasing number of news added in the future.  Therefore, it would ideal if the content is rendered dynamically based on some configurations.

**Screenshot of potential problem**
![image](https://user-images

[2020-07-21 08:47] fifieldt commented on #64
Thank you for this, and the effort of making a screenshot, too.

It's true we need to address this, and quite soon :)

[2020-07-21 09:15] nat236919 commented on #64
@fifieldt I may have some vague ideas, I will try to implement them into the application.

[2020-07-23 08:41] erickhun opened #68 "More emphasis on the Gold Card Qualifications Quick Check"
A thought I had many times  after seeing a lot of praises on the ["Gold Card qualification checker"](https://visafinder.tw/gold-card-qualification/) and how helpful it is to pick the correct category. Remembered @audreyt didn't find it easily either when navigating the website

We should perhaps think on a better place to put it? It's now "hidden" in the text, I think it deserve a better place.

F

[2020-07-23 11:22] iansinnott commented on #68
Yeah let's put it on the homepage. CTA!

[2020-07-26 14:12] #53 closed

[2020-07-31 03:03] erickhun opened #72 "Recommendations on services to use?"
Would that make sense to give recommendations on which service to use?  I now [maintain a spreadsheet](https://docs.google.com/spreadsheets/d/1SIeqEFEJR0rxe-5uIWdTo1G-kHW-tdpLtHYUusiTeNM/edit) I send from time to time in the Line group , but wondering if that'd make sense to put it in the website?

The downside is is that we would start becoming a bit opinionated .  Maybe we can balance this with

[2020-08-08 02:19] fifieldt commented on #38
From the application portal:

Fees for Employment Gold Card:

￭ Holders of U.S. passports applying abroad: one-year validity, NT$6,460; two-year validity, NT$7,460; three-year validity, NT$8,460.

￭ Holders of U.S. passports who entered R.O.C. (Taiwan) visa-free, or with a visa for a stay of less than 60 days, or with a visa for a stay of 60 days or longer and with annotation by the visa-issuing a

[2020-08-11 02:04] #39 closed

[2020-08-16 15:30] erickhun opened #79 "APRC revoked after a long leave: 183days or 5years?"
Not directly linked to the Gold Card itself , but it can be a reason for people to get the gold card. The promise of keeping a permanent residency by just showing up once every 5 years is , IMO, a big positive argument.

I've also heard a lot of wrong information about the conditions to keep the APRC when outside Taiwan. People confuse :
- APRC obtained with a marriage: you lose it after 183 days

[2020-08-20 16:42] #68 closed

[2020-08-23 09:52] hasnouille opened #82 "Gold womxn"
I finally get to starting a discussion, perhaps a page for [womxn](https://en.wikipedia.org/wiki/Womxn#:~:text=The%20term%20Womxn%20(%2F%CB%88w,nonbinary%2C%20and%20women%20of%20color.).

This is a place holder, in my brain and a space creation for anyone who has ideas, thoughts on the content/knowledge that needs producing for this section.

I would like to mention this on the GC Line group, afte

[2020-08-25 02:55] jliao-tw commented on #72
A fellow named Glenn Luk on another expat facebook group put this together.  Very useful information, but I'm also not sure how or where to put this on the website.

https://docs.google.com/document/d/1vN3_fFOsfrZ1ZFQSIyJpwdFwwRkEjcrkoT8KPPv7F3A/edit?fbclid=IwAR02kxb7m0gGYGAwDv2KuvBjqtZ2IpmFbL1_U0oF5ewrMqQc7zOwebZMPn8

I don't know Glenn, but asked if it's okay to share.  He liked my comment, so t

[2020-08-25 03:33] erickhun commented on #72
@jliao-tw wow this is GOLD content!

The school content is particularly good , many families told me that was hard to find proper school for their kids. One GC holder even left Taiwan because of kid's school

Can we somehow get Glen official approval for copy/pasting his content ?

[2020-08-25 03:40] jliao-tw commented on #72
i'll send him a message, see if he responds.

[2020-08-25 13:32] geekyme commented on #46
Tried forestry.io today. It works quite well, zero-code change. Here are some screenshots:

<img width="1680" alt="Screenshot 2020-08-25 at 9 03 03 PM" src="https://user-images.githubusercontent.com/977460/91179756-85033500-e719-11ea-857b-12d552751b4e.png">

For PR workflow, what about doing something proposed like [this](https://www.aerobatic.com/blog/forestry-aerobatic-publishing-workflow/):

[2020-08-26 00:37] iansinnott commented on #46
Oh totally forgot to reply to this. Heh... I was thinking you just edit on master 😑

@geekyme is that the forestry workflow out of the box? Or would we need to set up some "real" CI beyond the `./deploy.sh` script?

[2020-08-26 01:01] erickhun commented on #46
oh really nice @geekyme !

I didn't test forestry  but :

- are all pages we have work on forestry (thinking about the profiles page : https://github.com/taiwangoldcard/website/pull/44 )   ?
- custom domain name is free?

[2020-08-26 16:01] geekyme commented on #46
@iansinnott Forestry doesn't support any workflow out of the box. So therefore we'll still need to rely on our own CI / scripts for the branch promotion.

What forestry appears to do well is it's synchronization with our GitHub files. So all our pages seems to appear on forestry for us to edit. We can create new pages from forestry too.

Maybe I can invite you guys to try on my instance? You can s

[2020-08-26 17:01] #64 closed

[2020-08-26 17:12] geekyme opened #85 "Improve SEO based on Moz SEO report"
![moz_taiwangoldcard](https://user-images.githubusercontent.com/977460/91334902-3ed5d080-e802-11ea-9c0b-b8811dea6b44.png)

Attached the SEO analysis report from moz, hopefully this gives good ideas on how we can improve the visibility of the site. If we can get some top media sites (high page rank) to give us a backlink, I think this will bump as up.

[2020-08-27 02:25] #45 closed

[2020-08-27 10:51] geekyme opened #88 "Using system fonts instead of custom web fonts?"
https://www.wholegraindigital.com/blog/performant-web-fonts/

Web fonts currently slow down our page rendering.

<img width="818" alt="Screenshot 2020-08-27 at 6 51 07 PM" src="https://user-images.githubusercontent.com/977460/91433708-46df5000-e896-11ea-864d-db244203bb4b.png">

Maybe we can just use this stack, it works on [every platform](https://www.digitalocean.com/community/tutorials/css-syste

[2020-08-27 11:02] geekyme commented on #41
On top of this one, probably its also a good idea to put in tools for code formatting / linting, etc. This way there can be some consistency between all contributors.

[2020-08-27 11:22] geekyme opened #89 "Using Netlify instead of Github Pages"
Advantages:

* Simplify deployment. No more `docs/ folder` in version control. Just push new code to repo, and a github webhook will hit netlify to pull the source code for deployment.

* Potentially better savings on [page speed](https://www.anygeeks.com/blogging/netlify-vs-github-pages-speedtest/)

* Access to Netlify CDN & Netlify CMS

* Free, with SSL too.

Disadvantages:

* More lock in to a

[2020-08-27 14:30] jliao-tw commented on #72
FYI Glenn approved our use.

[2020-08-29 08:19] geekyme commented on #46
https://www.netlifycms.org/docs/configuration-options/

Just had a closer look on this. Looks like netlifyCMS’s editorial workflow fits what we want for the PR workflow too

[2020-08-31 03:34] pqvst commented on #46
Netlify CMS looks pretty interesting. It looks like it's open-source (✅). But, can it be hosted/used anywhere (i.e. it doesn't lock us into using Netlify)?

[2020-09-02 13:25] fifieldt commented on #88
This sounds like a good idea to me. The fonts look ok?

[2020-09-02 18:04] geekyme commented on #88
Looks fine to me. Standard round type fonts. The current font is very beautiful though.

[2020-09-04 03:24] erickhun commented on #89
@geekyme , I kinda prefer to keep everything in a single place if possible , so it keep things simple for now.
I like our current because everything is in github. The more tools we use, the messier/more complicated it could get.

[2020-09-04 08:07] geekyme commented on #89
Make sense. 👍🏻 I'll close this for now as an idea in the future if we need it.

[2020-09-04 08:08] #89 closed

[2020-09-04 08:30] geekyme commented on #46
It can be hosted anywhere (but that brings complexity if we run it).

Overall, I'm still on the fence with NetlifyCMS. What I don't like:

- Code change required for "setting up" the admin panel. Every time you have some new file that needs to be editable in netlifyCMS, you need to configure it in code. Forestry don't have any code change.

- Backend for Auth / file querying / file saving is neede

[2020-09-04 13:14] #88 closed

[2020-09-06 05:22] geekyme opened #93 "Faster pages on mobile (amp / fip)"
On Facebook, there's Facebook Instant Pages (fip). On Google, there's Accelerated Mobile Pages (amp). These formats could load up to 4X faster on mobile.

Perhaps we can exploit Hugo's custom output formats? https://gohugo.io/templates/output-formats/

Amp pages also ranks better on google.

[2020-09-06 08:37] geekyme commented on #93
Found a nice migration guide for Hugo + amp https://www.stackbit.com/blog/amp-for-jamstack/

Looks like will require quite a bit of digging.

[2020-09-06 10:44] geekyme commented on #93
Initial investgations:

<img width="1385" alt="Screenshot 2020-09-06 at 6 42 52 PM" src="https://user-images.githubusercontent.com/977460/92324075-cdebaf80-f070-11ea-8da8-1b76e9ded791.png">

Just trying a scaffold... https://github.com/geekyme/taiwan-goldcard-website/commit/be674ce3976749274b0e7c5ebeda4032289d4c1f. Quite a high effort item.

[2020-09-06 11:30] geekyme opened #95 "Lighter weight version of jQuery"
jQuery is heavy. There are lighter versions these days.

https://kenwheeler.github.io/cash/

Did a quick check, seems like scrollTop function needs replacing. Can probably check out https://bestofjs.org/projects/you-dont-need-jquery

[2020-09-06 13:23] fifieldt commented on #93
So interesting. I'd always wondered how they made those pages.

[2020-09-08 15:34] #95 closed

[2020-09-08 15:39] #27 closed

[2020-09-13 09:12] geekyme commented on #82
Hi @hasnouille , thanks for the idea. I'm thinking of the best way to incorporate this. Do you have sample community sites that has done this?

[2020-09-13 09:15] geekyme commented on #56
<img width="750" alt="Screenshot 2020-09-13 at 5 14 38 PM" src="https://user-images.githubusercontent.com/977460/93014553-9e92f080-f5e4-11ea-99e9-61a0aae39654.png">

this is solved with all our latest performances fixes. No more CLS.

[2020-09-13 09:15] #56 closed

[2020-09-13 11:00] hasnouille commented on #82
Hi Shawn,

I am not sure this website is the right place for it anymore.

There has been more recent developments, stemming from Line group conversation and the creation of the Slack group.
Current thinking is to shift this to a subgroup in Slack, where many folks seem to be interested in the idea and had great input and stakes into the topic. Thanks for reminding it was dormant here.

[2020-09-13 11:00] #82 closed

[2020-09-13 11:01] geekyme commented on #82
That sounds reasonable. Slack group seems like a good place to have more real-time discussions between different people in the community. Cheers @hasnouille

[2020-09-13 12:16] geekyme commented on #46
Ok folks, I take back what I said about Netlify CMS. Had a chance to dive a bit deeper today.

PR flow works, check out the list of [PRs](https://github.com/geekyme/taiwan-goldcard-website/pulls?q=is%3Apr+is%3Aclosed) auto managed by netlify CMS.

Front matter editing works, and preview also works:

<img width="1680" alt="Screenshot 2020-09-13 at 8 13 38 PM" src="https://user-images.githubusercont

[2020-09-14 02:48] erickhun commented on #46
love this @geekyme

As said on slack, my concern is the Review process where everyone can publish it . But in the other hands, it’s like our process in github - everyone can  merge the PR  or push to master, so it isn't really a problem?

_If we all agree and go ahead_, should we just trust everyone in the project  to only put edit at a  `In Review` state?

[2020-09-14 03:03] fifieldt commented on #46
If you are worried about that stuff (or for the future), what I recommend is that the CMS is hooked up to a branch other than master. Then you can allow the world to edit, but people with for repo rights merge in the edits to master

[2020-09-14 04:15] erickhun commented on #46
yes @fifieldt

An other issue is the ability to see what was the change in the netlify cms UI. Someone reviewing the change there wouldn't actually see what was the change .

So this would be tho workflow:

- Someone publish change in netlify
- this create a PR to GitHub ( is it possible?)
- PR is approved refused (but what happen for discussions? people will have to switch between netlify and Git

[2020-09-14 05:37] fifieldt commented on #46
Yup ... if we want a workflow that involves 'approval' that sounds about like how it would end up.

Another option might be to accept changes by default and then revert if issues are encountered.

[2020-09-15 06:46] geekyme commented on #46
Yes for example this PR is created by netlify - https://github.com/geekyme/taiwan-goldcard-website/pull/9

Unfortunately discussions probably in github.

A lot of friction indeed.

[2020-09-15 14:15] erickhun commented on #93
If we figure how to personalise the output format,  it will pave the way to  rank # 1 in a lot of Google queries with [FAQ page structured format](https://developers.google.com/search/docs/data-types/faqpage)

I tried to think about an easy way to convert easily all our FAQs but couldn't find an acceptable solution, I was about to add html code  in the markdown but gave up since it would make the

[2020-09-15 17:40] geekyme commented on #93
I don't think we need to modify the markdown, unless the markdown has stuff that can't be "amp-able".

Currently my idea is to specify multiple output formats for each markdown file.

Afterwards, detect output format in our Hugo template / partials and then output either html or amp components.

Hugo will take care of separating output html and output amp in different folders.

[2020-09-17 09:59] matrinox commented on #93
Been working on this last night. I was able to get valid AMP versions of the whole site. There's still a few kinks to iron out but it looks promising!

[2020-09-17 10:08] erickhun commented on #93
I'm quite excited to see the result @matrinox 😍

[2020-09-17 10:23] geekyme commented on #93
@matrinox 👏 PR time!

[2020-09-19 11:25] geekyme commented on #85
<img width="412" alt="Screenshot 2020-09-19 at 7 24 59 PM" src="https://user-images.githubusercontent.com/977460/93666095-e23a9e00-faad-11ea-8508-2fc7092bc3f9.png">

More information from alexa chrome extension

[2020-09-19 12:30] geekyme commented on #46
Ok guys, I found a flag in netlify CMS that helps things a bit regarding the lack of roles. `publish: false`. This flag will hide the functionality for CMS users to publish.

**TLDR; CMS = For people to propose edits. Github = For people to approve and merge.**

They can only propose edits. Heres the flow:

1. User create / edit a page in CMS.

<img width="624" alt="Screenshot 2020-09-19 at 8 17 1

[2020-09-19 18:00] iansinnott commented on #46
Awesome, thanks for figuring this out @geekyme

[2020-09-20 00:31] unfulvio commented on #46
Probably I'm late for this or maybe it has been mentioned already, but how about https://getpublii.com

[2020-09-20 08:14] geekyme commented on #46
yep checked out publii as well. I prefer netlifyCMS as it doesn't require a desktop program to be run for editing the site.

[2020-09-20 16:26] geekyme commented on #93
It worked! Notice the little lightning icon:

![image](https://user-images.githubusercontent.com/977460/93716198-02975500-fba1-11ea-9170-014bcbfafa82.jpeg)

This loaded mega fast:
![image](https://user-images.githubusercontent.com/977460/93716202-07f49f80-fba1-11ea-8764-eb41dcc547c8.jpeg)

[2020-09-20 16:29] geekyme commented on #93
One suggestion for improvement - the links in an amp page doesn't need to link to amp pages.

For example, the navbar in the amp version of the home page points to amp versions of the application faq, etc.

In general the amp pages load speed only seem to matter for the first page you land on. Subsequent pages doesn't appear to be that much faster.

So maybe we can:
- Remove the amp links in an am

[2020-09-21 21:49] nathattack opened #125 "Same typo in 3 places: "enrol" should be "enroll""
https://github.com/taiwangoldcard/website/blob/master/content/goldcard-holders-faq/health-insurance.md#how-do-i-enrol-into-the-program

https://taiwangoldcard.com/goldcard-holders-faq/health-insurance/#is-nhi-mandatory

[2020-09-22 11:47] matrinox commented on #93
@geekyme Agreed. What do you think has higher value: getting FIP version or removing AMP links?

[2020-09-22 12:19] matrinox commented on #125
Apparently `enrol` is standard in British English, so technically valid? Regardless, I will have a PR up to change this

[2020-09-22 13:04] matrinox commented on #47
I haven't used any personally but I know there are cheap ways to outsource translations. We might sacrifice somewhat on quality but we can reach a larger audience this way

[2020-09-22 13:33] #125 closed

[2020-09-22 16:53] nathattack commented on #125
Ah interesting. I did not know that!

On Tue, Sep 22, 2020 at 6:34 AM Shawn Lim <notifications@github.com> wrote:

[2020-09-23 01:18] #10 closed

[2020-09-23 02:43] fifieldt commented on #47
One other idea that Markus Wolf mentioned the other day was the idea of minimal 'landing pages'. These pages offer a greeting a given language, explain the program in a sentence or two, apologise that the site's not in the given language at the moment and then send people to the English site. Markus said he's implemented it on some larger projects and the feedback was excellent, since it makes use

[2020-09-24 03:37] #46 closed

[2020-09-24 06:01] matrinox commented on #47
@fifieldt perfect! I really like that idea. We could also link them to a google translated version of the app, for e.g.:
https://translate.google.com/translate?hl=en&sl=auto&tl=zh-TW&u=https%3A%2F%2Ftaiwangoldcard.com

[2020-09-24 17:05] geekyme commented on #93
I think FIP. Maybe let's get the stats from @erickhun ? He has GA so he can see where is traffic coming from.

If we have decent social media / FB traffic then maybe we can invest in FIB.

[2020-09-25 02:21] erickhun opened #138 "Lighter profile images on community profiles photos"
The community page https://taiwangoldcard.com/community/ page has profile images that are too heave. 1MB each!

it shouldn't be that heavy, ideally ~200kb at most or lighter

[2020-09-26 00:55] erickhun commented on #93
Re sitemap:

This exists, but I don't find it in the code source, how is this generated? https://taiwangoldcard.com/sitemap.xml

Here one manually generated with amp pages 😆 :

[code]

[2020-09-26 05:54] matrinox commented on #93
PR up. I don't have the priority set the same way @erickhun but my change adds the AMP URLs to the sitemap

[2020-09-26 08:27] geekyme opened #144 "Release bot goes into infinite loop"
Context:

- We want branch protection
- We want to configure secrets on this repo, but secrets should not be shared to forks
- Github workflows should still work even if PRs are opened from forks

Ref https://github.com/taiwangoldcard/website/pull/143, this change was commited in an attempt to make the bot release changes made from PR forks.

The secrets configured on this repo correctly propagate

[2020-09-26 10:02] geekyme commented on #144
https://github.community/t/workflow-infinite-loop/16547/3

Similar issue

[2020-09-26 10:10] geekyme commented on #144
Looks like this could work hmmm

if: github.actor != 'my_bot_account'

[2020-09-26 10:59] matrinox commented on #144
Did this work?

[2020-09-26 11:16] RohitDhatrak commented on #138
I can work on this. You just need compressed images right?

[2020-09-26 12:18] erickhun commented on #138
yes @RohitDhatrak !

[2020-09-26 14:49] geekyme commented on #144
Haven't tried @matrinox , not at my desk. You wanna try?

[2020-09-26 16:55] geekyme commented on #144
Fixed! @matrinox

[2020-09-26 16:55] #144 closed

[2020-09-26 17:08] geekyme commented on #93
Closing this now! Thanks for the contribution guys!

[2020-09-26 17:08] #93 closed

[2020-09-26 17:11] geekyme commented on #9
Closing this since we got a fix above! Cheers!

[2020-09-26 17:11] #9 closed

[2020-09-27 06:21] RohitDhatrak commented on #138
@erickhun I have compressed all the images to less than 200kb and made a pull request

[2020-09-27 06:42] geekyme commented on #138
Closed https://github.com/taiwangoldcard/website/pull/146

[2020-09-27 06:43] #138 closed

[2020-09-27 22:54] fifieldt commented on #9
Yeah, we probably need a new issue for this though. Entries in the search list don't provide question titles - just section headings.

[2020-09-28 04:29] geekyme opened #147 "Code formatting"
As we get more contributions to this repo, I think its best to have automated code formatting. [Prettier](https://prettier.io/) is a good option.

See this link for tips on how to configure it with go templates (the syntax that hugo use) https://discourse.gohugo.io/t/hugo-and-prettier/22596

[2020-09-29 00:59] fifieldt opened #149 "Recent Contributors not listed on the about page"
Our About page lists contributors to the site: https://taiwangoldcard.com/about/

It's currently missing some people who have made recent contributions, including:
- [ ] @geekyme
- [ ] @matrinox
- [ ] @Pustur
- [ ]  @RohitDhatrak

[2020-09-29 01:37] erickhun opened #150 "What financing solutions are available for Gold Card Holders?"
Would be great to add content / links on different ways to finance projects, for people who'd like to contribute to Taiwan 🇹🇼

- Fundraising is a first, but might be accessible for people doing a tech project only
- Loan is an other, but you might need a Taiwanese guarantor ?

**Loan:**
For  the Culture & Art folks, there is new initiative to make access to loans easier (up to 2million NTD) , for

[2020-09-29 01:58] erickhun commented on #149
Something I was debating with myself was if it should only be contributors to the website ? How about the persons doing community work but not website related? That page should that about page work with #121 ?

Or perhaps we want to highlight contributors (with their actions in https://taiwangoldcard.com/community ?)

[2020-09-29 02:02] fifieldt commented on #149
Porque no los dos?

I think to motivate and showcase the efforts of those building the website (one of the biggest contributions by the community to date) is worthy.

I think it's also worthwhile to explain and highlight the various contributions made by individuals in areas other than the website.

/about could be for the former
/community could be for the latter?

[2020-09-29 02:11] erickhun opened #151 "Community contributors in the /community page"
We should highlight the work done that make our community better  in the https://taiwangoldcard.com/community page.

It can look like:
Name: contribution that was made

@hasnouille: event organised
Philip : initiate monthly event
Quentin: event organised

etc...

Do you think we can somehow put the community page in Netlify @geekyme ?

[2020-09-29 02:57] RohitDhatrak commented on #149
@fifieldt I can work on this.

[2020-09-29 03:47] geekyme commented on #151
Hmmm do you mean you want to keep /community on netlify, the other pages on GitHub pages?

[2020-09-29 08:44] geekyme commented on #149
I added the CMS capability to support editing the about + community pages. And i've also added the names above folks 🎉

[2020-09-29 08:59] #149 closed

[2020-09-29 10:21] geekyme commented on #151
Demo on how you could use the CMS to add a new community face - https://github.com/taiwangoldcard/website/pull/159

[2020-09-30 09:12] RohitDhatrak commented on #22
@erickhun can I work on this?

[2020-10-01 16:24] matrinox commented on #22
@RohitDhatrak go ahead and create a PR!

[2020-10-02 09:02] RohitDhatrak commented on #147
I have added the following configuration should I create a PR?
{
  "useTabs": false,
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}

[2020-10-02 18:33] geekyme commented on #147
Sure please go ahead! Thank you! We'll need to probably have some git commit hooks as well.

[2020-10-03 01:59] fifieldt commented on #85
Did AMP help this at all?

[2020-10-03 08:35] geekyme commented on #85
Exported some extra data:

![screencapture-analytics-moz-pro-link-explorer-overview-2020-10-03-16_33_07](https://user-images.githubusercontent.com/977460/94987076-26da3500-0596-11eb-87f8-c2a802f71058.png)

![screencapture-moz-domain-analysis-2020-10-03-16_34_27](https://user-images.githubusercontent.com/977460/94987111-55581000-0596-11eb-812f-7691925ba1fa.png)

[2020-10-03 08:37] geekyme commented on #85
<img width="678" alt="Screenshot 2020-10-03 at 4 37 10 PM" src="https://user-images.githubusercontent.com/977460/94987160-b253c600-0596-11eb-887d-0a69a9f6e98c.png">

I think we need to optimize our keywords more.

[2020-10-07 13:55] matrinox commented on #85
@fifieldt from what I read, AMP doesn't necessarily rank your site higher, it's speed. But since AMP sites are faster loading, that makes it rank higher. I think given the complexity of the site (or lack of), it probably didn't improve much.

[2020-10-09 06:02] fifieldt opened #163 "amp issue on /terms and /about"
Error from Google Search console:

The tag 'img' should be replaced with an equivalent 'amp-img' tag.

https://taiwangoldcard.com/amp/terms/

https://taiwangoldcard.com/amp/about/

[2020-10-11 16:13] matrinox commented on #163
Let me look into this 👀

[2020-10-12 13:22] #163 closed

[2020-11-03 03:36] erickhun opened #167 "Integrate the chatbot?"
[Jonathan's article](https://jonathanbgn.com/nlp/2020/09/29/chatbot-universal-sentence-encoder.html) on how we built the chatbot  got a lot of visits on a lot of people interacted with the bot asking questions about life in Taiwan

We can easily use our FB integration  [add it easily in the website](https://developers.facebook.com/docs/messenger-platform/discovery/facebook-chat-plugin/#steps) with

[2020-11-26 01:39] pqvst opened #173 "Broken link: NHI Local office list"
The link to the NHI offices is broken (404):
https://taiwangoldcard.com/goldcard-holders-faq/health-insurance/

But it seems even the link from nhi.gov.tw is also broken, so I'm not sure we can do anything about it at the moment:
https://www.nhi.gov.tw/English/Content_List.aspx?n=20A93E4CE83C5762&topn=ED4A30E51A609E49

[2020-11-26 02:05] fifieldt commented on #173
Here's the list in Chinese:

North https://www.nhi.gov.tw/Content_List.aspx?n=3C228CAB408A41F8&topn=FB01D469347C76A7&upn=3B3949BB6233694C
North2: https://www.nhi.gov.tw/Content_List.aspx?n=D090B100E72FF603&topn=FB01D469347C76A7
https://www.nhi.gov.tw/Content_List.aspx?n=A97D3E4950F38DEB&topn=FB01D469347C76A7
https://www.nhi.gov.tw/Content_List.aspx?n=BF3024DEFFC02A33&topn=FB01D469347C76A7
https://

[2020-12-02 13:39] geekyme commented on #167
Fixed via #176

[2020-12-02 13:39] #167 closed

[2020-12-13 06:36] fifieldt opened #180 "community page amp error: The tag 'img' should be replaced with an equivalent 'amp-img' tag."
![image](https://user-images.githubusercontent.com/1287116/102004992-8439f180-3d50-11eb-8dd2-e76025e321ca.png)

[2020-12-13 13:37] matrinox commented on #180
This isn't straightforward to fix. Either the whole site needs to be AMP-compatible or we just ignore this one page, the only page with images. But making it AMP-compatible has its own problems, like the FB chat bot we added, search, and more. It's very restrictive.

Another option we can try is to have 2 versions of the community page (AMP and non-AMP), but that would make maintaining that page m

[2020-12-13 15:36] erickhun commented on #180
@matrinox the effort doesn't worth the reward. I'd ignore it

[2020-12-14 02:45] fifieldt commented on #180
I saw an article recently where Google was talking about removing the priority given to AMP sites anyway. Did that apply only to news, or is that something we should consider too?

[2020-12-14 05:39] fifieldt opened #181 "On mobile, after the chatbot loads, scrolling doesn't work"
On Chrome on Android,

1. Open a link like https://taiwangoldcard.com/goldcard-holders-faq/health-insurance/
2. Quickly, before the bot loads, try and scroll the page
3. After the bot loads, try and scroll the page

What should happen:
during steps 2&3, the same scrolling behaviour should be experienced

What happens instead:
During step 2, scrolling works
During step 3, scrolling does not work.

[2020-12-15 16:18] matrinox commented on #180
From my understanding, they've always said they've prioritized on speed, not AMP; AMP is just one way to create fast loading pages

[2021-01-13 01:44] marktrang opened #188 ""Do I Qualify" link in header nav should point to FAQ onsite vs. external page"
The first "Do I Qualify?" button on the header top nav takes user to a [poorly formatted Visafinder external site](https://visafinder.tw/gold-card-qualification/). Suggest this button first points to the ["Do I Qualify" section of FAQ](https://taiwangoldcard.com/application-faq/qualifications/) instead to keep user onsite for context before taking them to external site.

[2021-01-13 03:46] fifieldt commented on #188
Totally agree with the suggestion :) There's some education that can be done before people jump in to discovering regulations.

Though, since we're here, as background context ...

I coded that thing in one afternoon, long ago ... never expected it would turn out to be so useful to so many people, let alone be so prominently linked :) Code was moved into the taiwangoldcard org @ https://github.com

[2021-01-14 07:16] marktrang commented on #188
Thanks for the background & context @fifieldt! Let me know how I can help going forward.

[2021-01-15 07:26] marktrang commented on #85
Assuming SEO is still a goal, here are a few growth hacking ideas:
- Suggest adding more SEO-friendly copy to index page (particularly in the Applying section) or long-form in footer
- Suggest asking Gold Card holders who have blogged about the process to link to a few key FAQ pages (not just the home). For example, the top FAQ pages (What is the Gold Card? Do I qualify? How do I Apply?).
- Sugges

[2021-01-15 07:52] marktrang commented on #11
Suggestion: Add photos of various gov't offices and counters/desks involved with application process if applying in-country. Some previous holders had blogged about with helpful photos and instructions but I can't seem to find it now.

[2021-02-25 12:12] fifieldt commented on #188
As discussed, there's now a better formatted, 'official' version of the visafinder at https://goldcard.nat.gov.tw/en/apply/step-1/#/

I propose to retire the old one and redirect to this one. Any thoughts or suggestions?

[2021-04-05 09:05] xsynaptic opened #199 "Incorporate updates to qualifications promulgated Feb 8th, 2021"
Looks like some of the rules have changed but I don't see this reflected on the website today, particularly not in the "Taiwan visa finder" section. Since the economics track accounts for fully two-thirds of all GCs awarded thus far, it's probably important to mention changes to this qualifier in particular. No longer can someone qualify based on income alone; they must also show proof of working

[2021-04-05 10:13] fifieldt commented on #199
Related: #197 #198 #188

[2021-04-05 15:04] fifieldt commented on #199
As a stop-gap while we wait for the retirement of visafinder, I've added a quick note on MOEA-1: "⚠ Something strange is going on with this qualification at the moment. There has not been an official announcement, but applicants working for companies in certain industries are being rejected. You might want to call ahead."

[2021-04-05 19:13] xsynaptic commented on #199
The link I shared _is_ the official announcement of this policy, is it not? They don't make it clear what changed, but the first criteria on the economy track has another bullet point added, and it's also reflected on the official web site:
https://goldcard.nat.gov.tw/en/qualification/field-of-economy/

BTW I asked around and the "economic field" alluded to in that first point includes any industr

[2021-04-06 08:26] fifieldt commented on #199
Sorry, I was working quickly to get something added -I added a couple lines to the suggested documents as well.

When I refer to the official announcement it is about the industry restrictions : there is no official list, so that's the bad situation. Some people in the point 4 industries have been rejected, and some people not in that list have been accepted. Madness.

[2021-05-03 06:46] fifieldt commented on #181
Resolved.

[2021-05-03 06:46] #181 closed

[2021-06-12 05:41] fifieldt commented on #199
Visafinder is now retired (#198 ), so this is resolved - the official site will always be up-to-date with the latest.

[2021-06-12 05:41] #199 closed

[2021-06-12 05:41] fifieldt commented on #188
This was resolved in #198

[2021-06-12 05:41] #188 closed

[2021-06-12 05:42] fifieldt commented on #18
Resolved with #188 198

[2021-06-12 05:42] #18 closed

[2021-08-14 02:43] fifieldt commented on #173
The list of local NHI offices can now be found at the bottom of the main NHI English page: https://www.nhi.gov.tw/English/

[2021-08-14 02:46] fifieldt commented on #79
This was solved in the recent upcoming-changes content, it's now clear 'just showing up once every 5 years ' is all that is required.

[2021-08-14 02:46] #79 closed

[2021-08-14 03:23] fifieldt opened #212 "New Community Member Profiles"
We have a long backlog of people who agreed to be interviewed to create a profile on the Community page. This task involves involves contacting those people from the list and gathering their responses to our standard questions, then editing for length, and adding the content to the site.

[2021-08-18 02:48] fifieldt opened #215 "Bundle is missing"
Loading failed for the <script> with source “https://taiwangoldcard.com/js/bundle.min.da83c5c515680e32eac975e8b81e6ea6a2a128c75eb801663cf14fbfe4651dc578d914516698c8e3acec9ee5b3b8a0dce67098d99749cb0315db962ccf9c6b70.js”.

[2021-08-18 02:59] fifieldt commented on #215
This was fixed by purging the cache on cloudflare.

[2021-08-18 02:59] #215 closed

[2021-09-12 12:24] johncliu commented on #212
I'm happy to tackle some of the backlog. To scale the task, couldn't we solicit responses to the standard questions via google form and then it's a matter of editing? I can set up the google form. Do we maintain an email list of all GC holders, or can we use the newsletter distribution list?

[2021-09-13 01:03] fifieldt commented on #212
Hi @johncliu , we have the results of the main google registration form which include a tickbox for people who want to have their profile listed (as well as their contact details and their basic introduction). I will contact you on LINE to patch you in (ask @erickhun or @cbrolly if I forget)

In my experience, people providing profiles were happy to provide a lot of details, then it took some effo

[2021-11-04 05:36] rwcg commented on #11
In addition to the great requests from @fifieldt , here are some more I'd be interested in learning about:

- When to pay taxes (especially in the first year you become a tax resident)? Do you need to pay monthly or quarterly taxes/estimated taxes, or you just wait until the filing deadline the following year and pay everything for the prior year?
- Some more info on the different types of taxes o

[2021-12-23 23:49] heycam opened #219 "Upcoming Changes that have already passed should be incorporated into other pages"
The details on the [Upcoming Changes](https://taiwangoldcard.com/goldcard-holders-faq/upcoming-changes/) page should be incorporated into other pages on the site. For example looking at the [Migration Pathways](https://taiwangoldcard.com/goldcard-holders-faq/migration-pathways/) page, which says "Last update: December 1", it still mentions the five year requirement to obtain APRC rather than the n

[2021-12-23 23:57] fifieldt commented on #219
Thank you, agreed this needs an update.

[2022-02-18 14:22] ruridge opened #222 "Do we need Cloudflare in front of Netlify's existing CDN?"
Hi me again! 👋

I've noticed a couple of issues that look look like the may be caused by the site cache setup: JS & CSS assets not loading, asset URL's pointing to previous build versions.
### Resource 404:
<img width="1097" alt="Screenshot 2022-02-18 at 21 30 27" src="https://user-images.githubusercontent.com/856071/154693087-e3c18ae7-ae8f-4656-9b3b-415a1ece800f.png">

Cloudflare’s proxying (also

[2022-02-19 12:15] erickhun commented on #222
Thanks for reporting @ruridge !

The 404 is maybe due to Cloudflare caching the HTML files so it's querying the old one. I think ideally, we would purge cache after the  github action deploy the website to github. I've purged the CF cache, are you still seing the 404? Could be a good one to do if one has bandwidth

Also , I've tried to deactivated CF proxy but looks like I end up with an SSL certi

[2022-02-19 12:17] erickhun opened #223 "Purge Cloudflare cache after a deploy"
We cache static files on Cloudflare , visitors might see outdated files after we make a deploy

https://github.com/taiwangoldcard/website/issues/222

[2022-02-19 13:12] erickhun commented on #222
@ruridge Thanks for the tip on the rocket loader, I've just deactivated it. Looks like CF trying to do too much magic for us

[2022-02-19 13:46] fifieldt commented on #222
Welcome.back @ruridge and many thanks, it's good to have you.

If one takes a look in the repo under .github/workflows/deploy.yml you'll find the magic that does the Hugo build. Basically we use github actions to run Hugo to generate the HTMl/CSS/js and then github pages scoops it up right from the repo. (Though githuh pages technically has its own cdn which could theoretically cause double cachin

[2022-02-19 14:02] ruridge commented on #222
Ahh I see! I didn't realise it is hosed on GH Pages, I saw netlify-identity-widget.js being loaded in on the homepage and jumped to the conclusion you were using Netlify. Thanks for the clarification @erickhun & @fifieldt 🙏 (I should have paid more attention to the README 😅)

I'm not getting 404s anymore so flushing the cache seems to have resolved that bug, good call on #223 sounds like a good so

[2022-02-19 14:05] ruridge commented on #222
The sidebar is loading again for me so it looks like your fix worked. 🥳

[2022-02-19 14:25] fifieldt commented on #222
We had that documented? 🤣

Patched to make README clearer: https://github.com/taiwangoldcard/website/commit/414f3bf715d98dbf36537c0a86d899cafd483f95

[2022-02-20 02:19] #222 closed

[2022-03-03 07:00] ruridge commented on #223
I've created PR #226 that partially addresses this. As mentioned in the PR It depends on an API token being configured in Cloudflare and added to the repo secrets.

[2022-03-03 09:02] #223 closed

[2022-05-15 07:11] johncliu commented on #212
After broadcasting on slack/Line and directly msging 40+ new arrivals, we only received 5 profiles for the community page. People are either shy or lack a motivation to contribute their profile.

[2022-06-18 12:21] peterwcm commented on #173
I think this was fixed in https://github.com/taiwangoldcard/website/commit/eba3d79ba2169bb0aea3fe94d926a37cb52e1da1
We can probably close this?